*{
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
}

main{
    margin: 0 15rem;
}



/* Cabecalho menu site */

#menu-site{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items:center;
}

#logo-site img{
    width: 100px;   
}

#menu ul {
    display: flex;
    gap: 12px;
    list-style: none;
}

#menu a{
    text-decoration: none;
    text-transform: uppercase;
    color:#161616;
}

#menu a:hover{
    color: #5e39ee;
}

#redes-sociais img{
    width: 20px;
    margin-right: 15px;
    opacity: 0.8;
}

#redes-sociais img:hover{
    opacity: 1;
}
/* ____________________________________________________ */

/* Slide bar */
#slide-bar{
    display: flex;
    width: 100%;
    height: 500px;
    margin-bottom: 5rem;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/fundo\ bar/fundo.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}

#slide-bar h1, h2{
    margin-left: 1rem;
}

#slide-text p{
    margin-top: 25px;
    width: 450px;
    margin-left: 1rem;
}

#slide-img img{
    width: 300px;
}

#form-slide{
    margin-top: 20px;
    margin-left: 1rem;
}

#form-slide input{
    border-radius: 5px;
    height: 45px;
}

#form-slide input[type=email]{
    width: 280px;
    text-align:start;
}

#form-slide input[type=submit]{
    width: 170px;
    background-color: #5e39ee;
    color: #fff;
    font-weight: 600;
}

.borda{
    background-color:#a0a0a0;
    width: 100%;
    height: 2px;
}

#metricas{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    text-align: center;
}

.metrica h2{
    font-size: 35px;
    margin-bottom: 12px;
}

.metrica p{
    color: #5f5f5f;
}

#footer{
    display: flex;
    margin-top: 5rem;
    height: 300px;
    background-color: #0f1221;
    padding: 0 5rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#footer img{
    width: 200px;
}

#footer h1{
    margin-bottom: 2rem;
}

.footer-text a{
    text-decoration: none;
    color: #fff;
}

.footer-text ul{
    list-style: none;
}

.footer-text li{
    margin-bottom: 5px;
}

.footer-text a:hover{
    color: #5e39ee;
}

/* PÁGINA DE CONTATO */

#form-bar{
    display: flex;
    width: 100%;
    height: 400px;
    margin-bottom: 5rem;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/fundo\ bar/fundo.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}

.formbox1{
    text-align: start;
    margin-left: 1rem;
    margin-bottom: 4rem;
}

.formbox1 h1, hr{
    margin-bottom: 2rem;
    width: 300px;
}

.texto-contato img{
    margin: 5px 25px;
}

.texto-contato a{
    text-decoration: none;
    color: #0f1221;
}

.texto-contato{
    display: flex;
    justify-content: start;
    align-items: center;
}

#form-bar form{
    display: flex;
    flex-direction: column;
}

#form-bar textarea{
    margin: 2rem 0;
    height: 120px;
    border-radius: 12px;
}

#form-bar input[type=text]{
    width: 25rem;
    border-radius: 12px;
    height: 35px;
    margin-bottom: 25px;
    color: #5e39ee;
    text-indent: 12px;
}

#form-bar input[type=email]{
    width: 25rem;
    border-radius: 12px;
    height: 35px;
    color:#5e39ee;
    text-indent: 12px;
}

#form-bar input[type=submit]{
    border-radius: 12px;
    width: 8rem;
    height: 25px;
    text-align: center;
    margin-left: 9rem;

}

#form-bar input, textarea{
    background: none;
}

.texto-contato img{
    height: 20px;
}

.linha{
    height: 12rem;
    width: 2px;
    padding-top: 12px;
    border: 1px solid #fff;
    background-color: #fff;
}

